<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cn.smallrecipe">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/appicon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >

        <!-- 软件主页 -->
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 欢迎页 -->
        <activity
            android:name=".activity.WelcomeActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <!-- 搜索页 -->
        <activity
            android:name=".activity.SearchActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <!-- 登陆页 -->
        <activity
            android:name=".activity.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <!-- 注册页 -->
        <activity
            android:name=".activity.RegisterActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <!-- 个人中心 -->
        <activity
            android:name=".activity.PersonalActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <!-- 菜单详情页面-->
        <activity
            android:name=".activity.RecipeDetail"
            android:label="@string/title_activity_recipe_detail"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
    </application>

</manifest>
