<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cn.smallrecipe">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- SMS Permission-->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- wechat -->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <!-- umeng 已存在-->
    <!-- umeng分享权限 其他权限已存在-->
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SET_DEBUG_APP" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/appicon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!-- umeng-->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="56de296a67e58eee2700120b" />
        <meta-data
            android:name="small_recipe"
            android:value="Channel ID" />
        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="d667009797b489b97f24ad2b6ca7648a"></meta-data>
        <!-- 软件主页 -->
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <!-- 欢迎页 -->
        <activity
            android:name=".activity.WelcomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 搜索页 -->
        <activity
            android:name=".activity.SearchActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <!-- 登陆页 -->
        <activity
            android:name=".activity.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <!-- 注册页 -->
        <activity
            android:name=".activity.RegisterActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <!-- 个人中心 -->
        <activity
            android:name=".activity.PersonalActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <!-- 菜单详情页面-->
        <activity
            android:name=".activity.RecipeDetail"
            android:label="@string/title_activity_recipe_detail"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".activity.RespMsgActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <!-- SMS needs activity-->

        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <!-- QQInfo-->

        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1105221610" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />


        <!-- WeChat-->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!--<activity-->
            <!--android:name=".wxapi.WXEntryActivity"-->
            <!--android:exported="true"-->
            <!--android:label="@string/app_name"-->
            <!--android:launchMode="singleTop"-->
            <!--android:theme="@style/Transparent">-->
            <!--&lt;!&ndash;<intent-filter>&ndash;&gt;-->
            <!--&lt;!&ndash;<action android:name="android.intent.action.MAIN" />&ndash;&gt;-->
            <!--&lt;!&ndash;<category android:name="android.intent.category.LAUNCHER" />&ndash;&gt;-->
            <!--&lt;!&ndash;</intent-filter>&ndash;&gt;-->

            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.VIEW" />-->
                <!--<category android:name="android.intent.category.DEFAULT" />-->
                <!--<data android:scheme="sdksample" />-->
            <!--</intent-filter>-->
        <!--</activity>-->

        <!-- umeng相关-->
        <service
            android:name="com.umeng.update.net.DownloadingService"
            android:process=":DownloadingService" />
        <activity
            android:name="com.umeng.update.UpdateDialogActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- 友盟分享相关
        -->
        <activity
            android:name="com.umeng.socialize.editorpage.ShareActivity"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.UMDefault" />
    </application>
</manifest>
